<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebAddr" value="http://10.94.4.177:9200" />
    <add key="SystemActive" value="system_active" />
    <add key="SystemInactive" value="system_inactive" />
    <add key="TestRunning" value="system_running_test" />
    <add key="TestCompleted" value="completed_tests" />
    <add key="TestAborted" value="aborted_tests" />
    <add key="TestTotal" value="total_tests" />
    <add key="IsDebug" value="false" />
    <add key="LogFilePath" value="C:\Users\dsavery\Documents\Horiba Projects\Monitoring\hor logs" />
    <add key ="ConfigPath" value ="C:\Users\dsavery\Documents\Horiba Projects\Monitoring\install\DLL\SystemMonitor\Enumerations\"/>
    <add key="TestTypeList" value="TestTypes.xml" />
    <add key="VehicleTypeList" value="VehicleTypes.xml" />
    <add key="IdTypeList" value="IdTypes.xml" />
    <add key ="SystemState" value="Cell1.VETS_MonitorSystemState"/>
    <add key ="TestState" value="Cell1.VETS_MonitorTestState"/>
    <add key ="TestType" value="Cell1.VETS_MonitorTestType"/>
    <add key ="VehicleType" value="Cell1.VETS_MonitorVehicleType"/>
    <add key ="DriverID" value="Cell1.VETS_MonitorDriverID"/>
    <add key ="Date" value="Date"/>
    <add key ="Time" value="Time"/>
    <add key ="ConnectionRefreshTime" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>