<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxTimer" value="30"/>
    <add key="EnumerationsPath" value="C:\Program Files (x86)\SRH Systems\STARS\VETS\SystemMonitor\Enumerations\"/>
    <add key="TestTypeList" value="TestTypes.xml"/>
    <add key="VehicleTypeList" value="VehicleTypes.xml"/>
    <add key="VehicleManufacturerList" value="VehicleManufacturers.xml"/>
    <add key="IdTypeList" value="IdTypes.xml"/>
    <add key="ShowForm" value="true"/>
  </appSettings>
</configuration>
